@model RecipeMvc.Models.ViewModels.RecipeIngredientsViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="Recipe.RecipeId" value="@Model.Recipe.RecipeId  />
            <input type="hidden" asp-for="RecipeIngredient.RecipeId" value="@Model.Recipe.RecipeId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.RecipePortions" class="control-label"></label>
                <input asp-for="Recipe.RecipePortions" class="form-control" />
                <span asp-validation-for="Recipe.RecipePortions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Instructions" class="control-label"></label>
                <input asp-for="Recipe.Instructions" class="form-control" />
                <span asp-validation-for="Recipe.Instructions" class="text-danger"></span>
            </div>
			<br />
			<h4>Add Ingredients</h4>
			<div class="form-group">
				<select asp-for="RecipeIngredient.IngredientId" asp-items="Model.Ingredients">
					<option value="0">-- Select a Ingredient to add --</option>
				</select>
			</div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.Measurement" class="control-label"></label>
                <input asp-for="RecipeIngredient.Measurement" class="form-control" />
                <span asp-validation-for="RecipeIngredient.Measurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.Unit" class="control-label"></label>
                <input asp-for="RecipeIngredient.Unit" class="form-control" />
                <span asp-validation-for="RecipeIngredient.Unit" class="text-danger"></span>
            </div>
			<br />
            <div class="form-group">
                <input type="submit" value="add ingredient" class="btn btn-primary" />
            </div>
        </form>
    </div>
	<div class="col-md-4">
		<table class="table">
			<thead>
                <tr>
                    <th>ingr naam</th>
                    <th>ingr hoeveelheid</th>
                    <th>ingr maat</th>
                </tr>
			</thead>
			<tbody>
                @if (Model.RecipeIngredients != null)
                {
                    foreach (var item in Model.RecipeIngredients)
                    {
                        <tr>
                            <td>@item.Ingredient.Name</td>
                            <td>@item.Measurement</td>
                            <td>@item.Unit</td>
                        </tr>

                    }
                }
            </tbody>
		</table>
	</div>
</div>
<br />
<hr />
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
